#main {width:976px; margin:0 auto; position:relative;}

#header.small { height:414px;}
#header, #content, #footer { font-size:0.75em;}

.col-1, .col-2, .col-4 , .col-5{ float:left;}
.col-3, .col-6{ float:right}

.aside { float:left; width:236px; margin-right:50px;}
.content { float:left; width:594px; position:relative;}

/*======= index.html =======*/
#page1 #content .line-ver { background-position:297px top;}
#page1 #content .col-1 { width:200px; margin-right:10px;}
#page1 #content .col-2 { width:380px;}

/*======= index-1.html =======*/
#content .col-3, .col-4  {width:430px;}
#content .col-5 { width: 250px;}
#content .col-6{ width:250px;}


/*======= index-2.html =======*/
#page3 #content .col-1 {width:173px; margin-right:37px;}
#page3 #content .col-2 {width:173px; margin-right:37px;}
#page3 #content .col-3 {width:173px;}


/*=========================*/

